  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
 
    .page-body {
      font-size: clamp(16px, 1.3vw, 20px);
    }

  /*
  @media screen and (max-width:1700px) {
    .page-body {
      font-size: clamp(8px, 1.3vw, 20px);
    }
  }

  @media screen and (max-width:1120px) {
    .page-body {
      font-size: clamp(10px, 2vw, 25px);
    }
    .right-side__info {
      display:block;
    }
  }

  @media screen and (max-width:730px) {
    .page-body {
      font-size: clamp(15px, 2vw, 35px);
    }
    .vac-form__item {
      display: block;
    }
  }
  
  @media screen and (max-width:570px) {
    .page-body {
      font-size: clamp(17px, 1,6vw, 35px);}
    .right-side__info {
      display: none;
    }
    .left-side__info {
      max-width: 80%;
    }
  }
  
  @media screen and (max-width:395px) {
    .vac-link {
      text-align: right;
    }
  }