*,
*::before,
 *::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}
 
.page-body {
  font-size: clamp(13px, 1.3vw, 20px);
}


@media screen and (max-width:1520px) {
  .vac-form__item {
    grid-template-columns: 1fr 1fr;
}
.right-side__info {
  display: block;
  align-self: center;
  justify-items: left;
  text-align: left;
}
.right-side-item:not(:last-child) {
  margin-bottom: 20px;
}
}
